[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fortniteR"]
	path = fortniteR
	url = https://github.com/econosopher/fortniter
